@import "tailwindcss";

*,
html,
body {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-30%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}
